.hero01 {
  display: flex;
  flex-direction: row;
  color:   rgb(113, 114, 116);
  text-align: center;
  justify-content: center;
  font-size: 3rem;
  line-height: 1.2;
  margin: 70px;
}

.hero01 img{
  width: 30%;
  height: 30%;
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .hero01 {
    height: 78vh;
  }
}
